@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  user-select: none;
}

::selection {
  background-color: rgb(27, 161, 27);
  color: #fff;
}

body {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: rgba(221, 221, 221, 66);
  position: relative;
  background-image: linear-gradient(
      rgba(38, 38, 38, 0.7),
      rgba(38, 38, 38, 0.7)
    ),
    url(snake.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-blend-mode: multiply;
}

.container {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  width: 600px;
  height: 65vmin;
  width: 70vmin;
  border-radius: 6px;
}

.score {
  width: 100px;
}

.arrowkeys {
  position: absolute;
  top: 40%;
  left: 15%;
  height: 164px;
  width: 164px;
}

.para {
  color: #fff;
  position: absolute;
  top: 58%;
  left: 11%;
  font-size: 18px;
  opacity: 1;
}

.displayNone {
  display: none;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0px 0px 32px #333;

  background-color: rgba(235, 235, 235, 0.8);
  padding: 14px 26px;
  color: #228be6;
  border: 2px solid #339af0;
  width: 100%;
  font-size: 18px;
  border-radius: 6px 6px 0 0;
}

.playground {
  background-color: rgba(51, 155, 240, 0.9);
  display: grid;
  grid-template: repeat(30, 1fr) / repeat(30, 1fr);
  height: 100%;
  width: 100%;
  border-radius: 0 0 6px 6px;
}

.playground .food {
  width: 20px;
  height: 18px;
  box-shadow: 0px 0px 12px hsla(0, 0%, 47%, 0.5);
  background-color: red;
  border-radius: 50%;
  position: relative;
}

.food::before {
  content: "";
  width: 4px;
  height: 4px;
  background-color: brown;
  position: absolute;
  top: -4px;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 5px;
}

.playground .head {
  border: 1px solid #555;
  box-shadow: 0px 0px 12px hsla(0, 0%, 47%, 0.5);
  z-index: 999;
}

.playground .mouth {
  position: relative;
  border: 1px solid #40c057;
  z-index: 9999;
}

.mouth::before,
.mouth::after {
  content: ".";
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
  font-weight: 900;
  font-size: 12px;
  height: 6px;
  width: 6px;
  position: absolute;
  bottom: 0px;
  right: 2px;
  transform: rotate(111deg);
  background-color: #fff;
  border-radius: 50%;
  text-align: center;
}

.mouth::after {
  top: 0px;
}

.soundIcon,
.pandpIcon,
.againIcon,
.inputColorIcon {
  position: absolute;
  top: 8%;
  right: 2%;
  height: 32px;
  width: 32px;
  cursor: pointer;
  filter: brightness(0) invert(100%);
}

.popupSound,
.popupColor,
.popupAgain,
.popup {
  position: absolute;
  top: 8%;
  right: 5%;
  color: #fff;
}

.popup {
  top: 2.5%;
}

.pandpIcon {
  top: 2%;
}

.popupAgain {
  top: 14.2%;
}

.popupColor {
  top: 20%;
}

.againIcon {
  top: 14%;
}

.Icon {
  top: 20%;
}

.inputColorIcon {
  top: 20%;
  filter: brightness(1) invert(0);
}

select {
  background-color: rgba(235, 235, 235, 0.8);
  border: 1px solid #228be6;
  padding: 2px 6px;
  color: #228be6;
  font-size: 18px;
  font-weight: 500;
  outline: none;
  cursor: pointer;
}

.dull {
  filter: invert(20%);
  cursor: not-allowed;
}

.highscoreWrapper {
  position: absolute;
  top: 50%;
  right: 50%;
  transform: translate(50%, -50%);
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  opacity: 1;
  z-index: 9999999;
  visibility: hidden;
}

.visible {
  visibility: visible !important;
}

.highScoreText {
  font-size: 56px;
  color: #fcc419;
}

.emoji {
  font-size: 106px;
}
